body{
  background-color: black;
  
}

.App {    
  text-align: center;    

  color: white;
}    
    

li{
  list-style-type: none;
  display: inline-block;
  margin: 15px;
  text-align: center;
  
}


.titleParent{
  height: auto;
  padding: 1em;
  font-size: 20px;
}
.title{
  margin: 10px; 
}
.subtitle{
  margin: 0px;
  padding: 0px;
}

.navBar{
  background-color:green;
}

.link{
  color: white;
}


/* End Header Styling */

.loginPhoto{
  width: 20%;
}

.trackerContainer{
  text-align: center;
  margin-left: 24%;
  font-size: 30px;
}

td,th{
  border: solid 1px white;
}

.currencyTitle{
  text-align: center;
}


.subText{
  font-size: 35px;
}

.homePic{
  position:relative;
  width: 55%;

}

.logInOut{
  font-size: 25px;
}

